[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
beautifulsoup4 = "==4.5.3"
click = "==6.7"
colorama = "==0.3.7"
fields = "==5.0.0"
Flask = "==0.12"
hunter = "==1.4.1"
itsdangerous = "==0.24"
Jinja2 = "==2.9.5"
lxml = "==3.7.2"
MarkupSafe = "==0.23"
"pushbullet.py" = "==0.10.0"
python-magic = "==0.4.12"
randomcolor = "==0.4.4.4"
requests = "==2.13.0"
websocket-client = "==0.40.0"
Werkzeug = "==0.11.15"
